.body {
  margin: 0%;
  font-family: sans-serif;
}
.boxd {
  height: 300px;
  background-color: #3b0337;
  justify-content: center;
  align-content: center;
}
.heading h2 {
  color: #e9b712;
  font-size: 30px;
}
.heading {
  text-align: center;
  justify-content: center;
  align-content: center;
}
.heading2 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.btnbook a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background-color: #e9b712;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.btnbook {
  height: 50px;
  align-content: center;
  margin-top: 25px;
}
.btnbook a:hover {
  opacity: 0.8;
  transition-duration: 2s;
  transition-delay: 0.2;
}
.service {
  background-color: #fefff3;
  height: 600px;
  padding: 0 50px 0 50px;
}
.labelservice {
  padding: 70px 50px 30px 50px;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #3b0337;
}
.spanservice {
  display: block;
  max-width: 100%;
  border-style: solid;
  border-bottom-width: 5px;
  width: 200px;
  margin: 0px auto;
  border-color: #e9b712;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.labelbox {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.labelbox img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  display: inherit;
}
.boxdetail {
  margin-top: 30px;
  align-content: center;
  justify-content: center;
}
.boxdetail a {
  text-decoration: none;
  font-size: 20px;
  color: #3b0337;
  font-weight: bold;
  align-content: center;
}
.boxdetail p {
  font-size: 15px;
  color: #222222;
  font-style: italic;
  align-content: center;
}
.servicebox {
  display: flex;
  padding-left: 60px;
  justify-content: space-between;
  padding-right: 60px;
}
